.layout {
  display: flex;
  height: 100vh;
  width: 100vw;            /* FULL SCREEN WIDTH */
  /*overflow-y: auto;*/
  padding: 0;
  margin: 0;
}

.main {
  flex: 1;                 /* take the full remaining width */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px 24px;
  overflow: hidden;
}

.content {
  flex: 1;
  width: 100%;
  padding: 0 0;
  overflow-y: auto;
}
